.logotopleft{
    height: 70px;
    width: 70px;
}

.navbar{
    background-color: #6f48ec;
}

body{
    background-color: #342b40;
    color:white;
}

.navbar-nav li a{
    color:white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px
    
}
.navbar-nav a:hover{
    color: rebeccapurple;
}


.container {
    padding: 2px 16px;
}

.nominations{
    width:100%;
}

.bg{
    width:100%;
}

.abouttext{
    text-align: center;
    padding: 0px 250px 0px 250px;
}

.carousel-inner .carousel-item{
    transition: -webkit-transform 4s ease;
  transition: transform 4s ease;
  transition: transform 4s ease, -webkit-transform 4s ease;
}

.contactus{
    padding-top: 50px;
    color: white;
}

.feedback{
    color:white;
}

.twitter{
    height:50px;
    width: 50px;
}

.facebook{
    height:50px;
}

.instagram{
    height:50px;
    width: 50px;
    padding: 
}

.bodycontact{
    background-color: #342b40;
}

.socialmedia{
    text-align: center;
    
}

footer{
    font-size: 10px;
    color:white;
    opacity:50%;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}

.form-group{
    color:white;
}

.aboutlogo{
    height:300px;
    padding-left: 566px
    
}

